:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --main-text-color:  #757575;
    --title-color: #212121;
    --hover-color: #2196f3;
   --button-bg-color: #2196f3;
   --bg-color: #2f303a;
   --team-title-color: #f5f4fa;
  }

  .logo {
    color:#2196f3;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
  }

  .span {
    color:#000;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
  }
  a:hover {
    color: #2196f3;
  }
  .menu {
    color: var(--title-color);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .menu-link {
   color: var(--main-text-color);
   font-family: "Roboto";
   font-weight: 500;
   font-size: 14px;
   letter-spacing: 0.02em;
  }
  .button {
    background-color: #2196f3;
    color: #f5f4fa;
    font-family: "Roboto";
    border-radius: 4px;
    width: 216px;
    height: 50px;
  }
  section[id] {
    background-color: var(--bg-color);
    width: 1600px;
    height: 600px;
    
  }
  .team-info {
    background-color: var(--team-title-color);

  } 
  .team {
    color: var(--title-color);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .staff-photor {
    width: 270px;
    height: 260px;
  }
  .text-button {
    width: 696px;
    height: 120px;
    color:#fff;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
  }
  .walker {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .name {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .profession {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .mein-text {
    color: var(--main-text-color);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
  }
  .title {
    color: var(--bg-color);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  image{
    width: 370px;
    height: 294px;
  }
  .footer {
    background-color: var(--bg-color);
    width: 1600px;
    height: 252px;
  }
  .logo-footer {
    color:#2196f3;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
  }
  .span-footer {
    color: #fff;
    font-family: "Raleway";
  }
  .footer-text {
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
  }
  .futer-link {
    color: var(--main-text-color);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
  }



  .logo {
    color:#2196f3;
  }

  .span {
    color:#000;
  }
  a:hover {
    color: #2196f3;
  }
  .menu {
    color: var(--title-color);
    font-family: "Raleway";
  }
  .menu-link {
   color: var(--main-text-color)
    
  }
  .button-portfolio:hover {
    color: #f5f4fa;
    background-color: #2196f3;
  }
  .button-portfolio {
    background-color: #f5f4fa;
    color: black;
  }
  section[id] {
    background-color: var(--bg-color);
  }
  .team-info {
    background-color: var(--team-title-color);
  } 
  .team {
    color: var(--title-color)
  }
  .text-button {
    width: 696px;
    height: 120px;
    color:#fff;
    
  }
  .mein-text {
    color: var(--main-text-color);
  }
  .footer {
    background-color: var(--bg-color);
  }
  .logo-footer {
    color:#2196f3;
  }
  .span-footer {
    color: #fff;
  }
  .footer-text {
    color: #fff;
  }
  .futer-link {
    color: var(--main-text-color);
  }

  
  
    
  